
#################################################################################
########################### Styling my Navigation Menu ###########################
#################################################################################
.menu{
	
}

.menuTabs{
	left: 5%;
	display: inline;
}

.menuLinks{
}

.container{
	position: relative;
	width: 80%;
	left: 10%;
}